<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="tests" thread-count="4" verbose="10">
    <listeners>
        <listener class-name="com.test.Utils.Listeners.Listeners"/>
        <listener class-name="com.test.Utils.Listeners.RetryListeners"/>
    </listeners>

    <test name="Login SSO" >
        <parameter name="url" value="https://sso.eduqat.com"/>
        <groups>
            <run>
                <include name="login"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.Login.LoginUserSSO"/>
        </classes>
    </test>

    <test name="Create Course" >
        <parameter name="url" value="https://sso.eduqat.com"/>
        <groups>
            <run>
                <include name="create course"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.CreateCourse"/>
        </classes>
    </test>

    <test name="Logout SSO" >
        <parameter name="url" value="https://sso.eduqat.com"/>
        <groups>
            <run>
                <include name="logout"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.Logout.LogOutUserSSO"/>
        </classes>
    </test>

    <test name="Create School" >
        <parameter name="url" value="https://sso.eduqat.com"/>
        <groups>
            <run>
                <include name="create school"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.CreateNewSchool"/>
        </classes>
    </test>

    <test name="Login web school" >
        <parameter name="url" value="https://untukautomationtest.eduqat.com/"/>
        <groups>
            <run>
                <include name="login school"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.Login.LoginUserSchool"/>
        </classes>
    </test>
    <test name="Forgot password School" >
        <parameter name="url" value="https://untukautomationtest.eduqat.com/"/>
        <groups>
            <run>
                <include name="forgot password"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.ForgotPassword.ForgotPasswordSchool"/>
        </classes>
    </test>
    <test name="Logout web school" >
        <parameter name="url" value="https://untukautomationtest.eduqat.com/"/>
        <groups>
            <run>
                <include name="logout school"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.Logout.LogOutUserSchool"/>
        </classes>
    </test>

    <test name="Register user school" >
        <parameter name="url" value="https://untukautomationtest.eduqat.com/"/>
        <groups>
            <run>
                <include name="register"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.Register.RegisterUserSchool"/>
        </classes>
    </test>
    <test name="Register user SSO" >
        <parameter name="url" value="https://sso.eduqat.com"/>
        <groups>
            <run>
                <include name="register"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.Register.RegisterUserSSO"/>
        </classes>
    </test>
    <test name="Forgot password SSO" >
        <parameter name="url" value="https://sso.eduqat.com"/>
        <groups>
            <run>
                <include name="forgot password"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.ForgotPassword.ForgotPasswordSSO"/>
        </classes>
    </test>
    <test name="Invitation User" >
        <parameter name="url" value="https://sso.eduqat.com"/>
        <groups>
            <run>
                <include name="invitation user"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.InvitationUser.InvitationUser"/>
        </classes>
    </test>
    <test name="Invitation User Admin" >
        <parameter name="url" value="https://sso.eduqat.com"/>
        <parameter name="emailAdm" value="qe81hb1172asdc@mailsac.com"/>
        <groups>
            <run>
                <include name="invitation user admin"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.InvitationUser.InvitationUser"/>
        </classes>
    </test>
    <test name="Invitation User Educator" >
        <parameter name="url" value="https://sso.eduqat.com"/>
        <parameter name="emailEdu" value="bqpxu13955absy@mailsac.com"/>
        <groups>
            <run>
                <include name="invitation user educator"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.InvitationUser.InvitationUser"/>
        </classes>
    </test>
    <test name="Accept Invitation Admin" >
        <parameter name="url" value="https://mailsac.com/"/>
        <parameter name="emailAdm" value="qe81hb1172asdc@mailsac.com"/>
        <parameter name="emailAdm2" value="qe81hb1172asdc"/>
        <groups>
            <run>
                <include name="accept invitation admin"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.InvitationUser.AcceptInvitationUser"/>
        </classes>
    </test>
    <test name="Accept Invitation Educator" >
        <parameter name="url" value="https://mailsac.com/"/>
        <parameter name="emailEdu" value="bqpxu13955absy@mailsac.com"/>
        <parameter name="emailEdu2" value="bqpxu13955absy"/>
        <groups>
            <run>
                <include name="accept invitation educator"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.InvitationUser.AcceptInvitationUser"/>
        </classes>
    </test>
</suite>
