<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="com.test.Utils.Listeners.Listeners"/>
        <listener class-name="com.test.Utils.Listeners.RetryListeners"/>
    </listeners>

    <test name="Login SSO" >
        <groups>
            <run>
                <include name="login"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.LoginUserSSO"/>
        </classes>
    </test>

    <test name="Create Course" >
        <groups>
            <run>
                <include name="create course"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.CreateCourse"/>
        </classes>
    </test>

    <test name="Logout SSO" >
        <groups>
            <run>
                <include name="logout"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.LogOutUserSSO"/>
        </classes>
    </test>

    <test name="Create School" >
        <groups>
            <run>
                <include name="create school"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.CreateNewSchool"/>
        </classes>
    </test>

    <test name="Login web school" >
        <groups>
            <run>
                <include name="login school"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.LoginUserSchool"/>
        </classes>
    </test>

    <test name="Logout web school" >
        <groups>
            <run>
                <include name="logout school"></include>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCases.LogOutUserSchool"/>
        </classes>
    </test>
</suite>
